@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

::-webkit-scrollbar {
    width: 7px
}

::-webkit-scrollbar-track {
    background: #303235
}

::-webkit-scrollbar-thumb {
    background: #4f555e;
    border-radius: 15px
}

::-webkit-scrollbar-thumb:hover {
    background: #474a52
}

body {
    background-color: #201f1f;
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    cursor: pointer;
    font-size: 15px;
}

.pazdikan-tab {
    display: none;
    opacity: 0;
    position: relative;
    width: 80%;
    margin: 25px auto;
}

.pazdikan-active {
    display: block;
    -webkit-animation: tab-fadein 1s forwards .5s;
    animation: tab-fadein 1s forwards .5s;
}

.aboutme {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.aboutme-title {
    font-size: 30px;
}

.aboutme-text {
    margin: 20px;
    width: fit-content;
    text-align: justify;
}

.navbar {
    -webkit-animation: navbar-slidein 1s forwards;
    animation: navbar-slidein 1s forwards;
}

.titleHeart {
    position: relative;
    -webkit-animation: heartHover 1s infinite;
    animation: heartHover 1s infinite;
}

.spotify {
    width: 80%;
}

.navbar-nav > li > .dropdown-menu { background-color: #4a24d7; }
.navbar-nav > li > .dropdown-menu a:hover { background-color: #4827cb; }
.navbar-nav > li > .dropdown-menu a{   color: #fff;  }

@keyframes navbar-slidein {
    from {
        margin-top: -75px;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes tab-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes heartHover {
    0% {top: 0}
    15% {top: -2px}
    20% {top: -3px}
    25% {top: -6px}
    75% {top: -6px}
    80% {top: -3px}
    85% {top: -2px}
    100% {top: 0}
}

@media only screen and (max-width: 768px) {
    .spotify {
        width: 100%;
    }
}